.study-info {
	h4 {
		font-size: 1.2rem;
		margin-bottom: 0.5rem;
	}
	
	ul {
		padding-top: 0;
		padding-bottom: 0;
		
		li {
			h5 {
				min-width: 150px;
				display:flex;
				font-Weight:700;
				font-size: 0.9rem;
				margin-bottom: 0;
			}

			h6 {
				font-weight: 600;
			}
		}
	}
}

.participantsTable {
	font-size: 1rem;
}